<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Dress Code</title>
    <link href='/styles/styles.css' rel='stylesheet'>
  </head>
  <body>
    <form action="/code" method="post">
      <header>
        <div class="header-wrapper" id="dress-code-header">
          <object class="logo" data="/images/dress-code-logo.svg" type="image/svg+xml"></object>
          <h1><a href="/">Dress Code</a></h1>
          <h2>You Can't Dress Your Friends</h2>
          <h3>...but you can try</h3>
        </div>
      </header>
      <div id='page-content' class="facebook-events">

        <h3>For Which Event Would You Like to Assign This Dress Code<span>?</span></h3>
        <ul class="submittable"> <!-- quick hack -->
          <% @events.each do |event| %>
            <li>
              <button class="event-dress-code btn" name="eventData" value="<%= ERB::Util.html_escape(event.to_json) %>"><%= event['name'] %></button>
            </li>
          <% end %>
        </ul>

      </div>
    </form>
    <script src='/js/lib/jquery-1.10.2.min.js'></script>
    <script src='/js/lib/underscore-min.js'></script>
    <script src='/js/lib/backbone-min.js'></script>
    <script src='/js/lib/jquery.isotope.min.js'></script>

    <script src='/js/models/event.js'></script>
    <script src='/js/models/dress.js'></script>
    <script src='/js/models/dress_code.js'></script>
    <script src='/js/models/menswear.js'></script>
    <script src='/js/views/home.js'></script>
    <script src='/js/helpers.js'></script>
    <script src='/js/app.js'></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45875189-2', 'dress-code.herokuapp.com');
  ga('send', 'pageview');

</script>
  </body>
</html>
